.board {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  padding: 16px 0 16px 16px;

  &:after {
    content: "";
    display: block;
    min-width: 8px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    background-color: #ebecf0;
    min-width: 280px;
    position: relative;

    &:before {
      align-items: center;
      bottom: 0;
      border-radius: 5px 5px 0 0;
      display: flex;
      height: 35px;
      justify-content: center;
      position: absolute;
      transform: translateX(calc(140px - 62.5px));
      width: 125px;
    }

    &--to-read:before {
      background-color: #f2711c;
      color: #fff;
      content: "To Read";
    }

    &--reading:before {
      background-color: #fbbd08;
      color: #fff;
      content: "Reading";
    }

    &--read:before {
      background-color: #21ba45;
      color: #fff;
      content: "Read";
    }
  }

  &__item {
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    cursor: grab;
    display: flex;
    margin: 8px;
  }

  &__cover-wrapper {
    height: 65px;
    width: 45px;
  }

  &__cover {
    height: 100%;
    width: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 0 13px;
  }

  &__title {
    font-size: 16px;
  }

  &__author {
    font-size: 14px;
  }
}
