.books {
  padding: 16px;

  &__list {
  }

  &__link {
    color: #000000;
    text-decoration: none;
  }

  &__item {
    align-items: center;
    display: flex;
    padding: 5px 0px;
  }

  &__cover-wrapper {
    height: 65px;
    width: 45px;
  }

  &__cover {
    height: 100%;
    width: 100%;
  }

  &__info {
    flex: 1;
    padding: 0px 13px;
  }

  &__title {
    display: block;
    font-size: 16px;
  }

  &__author {
    display: block;
    font-size: 14px;
  }

  &__status {
    background-color: #e0e1e2;
    border-radius: 3px;
    display: block;
    font-size: 12px;
    max-width: 64px;
    text-transform: uppercase;
    text-align: center;

    &--to-read {
      background-color: #f2711c;
      color: #ffffff;
    }

    &--reading {
      background-color: #fbbd08;
      color: #ffffff;
    }

    &--read {
      background-color: #21ba45;
      color: #ffffff;
    }
  }

  &__add-button {
    align-items: center;
    background-color: #1b1c1d;
    border-radius: 50%;
    bottom: 32px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    color: #fffffffe;
    display: flex;
    height: 50px;
    justify-content: center;
    left: calc(50vw - 25px);
    position: fixed;
    width: 50px;
  }
}
